# Webserver
BASE_URL?=http://localhost:3000
WRITE_DEBUG_FILES=true

# Database
POSTGRES_HOST=hostname
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=xxx
POSTGRES_DB=aipm_dev_1
POSTGRES_CA='-----BEGIN CERTIFICATE-----
xxx
-----END CERTIFICATE-----'
POSTGRES_USE_SSL=true

# Webserver Settings
ALLOWED_ORIGINS?="http://localhost:5173"

# Parsing
#PDF_PARSER_SERVICE="llama"
PDF_PARSER_SERVICE="local"
LOCAL_PDF_PARSER_API_KEY="demo-Hs6gKs5GtoJ78GdnH5gZ"
LOCAL_PDF_PARSER_BASE_URL="https://document-services.perlecto.de"
LLAMA_CLOUD_API_KEY=llx-xxx

# Encryption
SECRETS_AES_KEY=xxx
SECRETS_AES_IV=xxx

# JWT_PUBLIC_KEY="-----BEGIN CERTIFICATE-----
# # xxx
# # -----END CERTIFICATE-----"

# Email
# SMTP_DEBUG=true
# SMTP_HOST='smtp.server.net'
# SMTP_PORT=465
# SMTP_SECURE=true
# SMTP_USER='info@server.net'
# SMTP_DEFAULT_SENDER='Mailer - info@server.net'
# SMTP_PASS='secret'

# Cron
CRON_LOG?=true