# Webserver
WRITE_DEBUG_FILES=true
CRON_LOG=true

# URL
# BASE_URL=http://localhost:3000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pg
POSTGRES_PASSWORD=pg
POSTGRES_DB=dev
#POSTGRES_CA='-----BEGIN CERTIFICATE-----
#xxx
#-----END CERTIFICATE-----'

# Webserver Settings
# ALLOWED_ORIGINS="http://localhost:5173"

# Parsing
#PDF_PARSER_SERVICE="llama"
#PDF_PARSER_SERVICE="local"
#PDF_PARSER_SERVICE="mistral"
#LOCAL_PDF_PARSER_API_KEY="demo-xxx"
#LOCAL_PDF_PARSER_BASE_URL="https://document-services.perlecto.de"
#LLAMA_CLOUD_API_KEY=llx-xxx

# Encryption
SECRETS_AES_KEY=
SECRETS_AES_IV=

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

# Email
# SMTP_DEBUG=true
# SMTP_HOST='smtp.server.net'
# SMTP_PORT=465
# SMTP_SECURE=true
# SMTP_USER='info@server.net'
# SMTP_DEFAULT_SENDER='Mailer - info@server.net'
# SMTP_PASS='secret'